@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-500: #E74040;
    --primary-rgba: rgba(231, 64, 64, 80%);
    --secondary-rgba: rgba(23, 22, 22, 0.9);
    --secondary-400: #737373;
    --secondary-500: #343233;
    --secondary-600: #252324;
    --branco: #FFFFFF;
    --preto: #252324;
    --cinza: #E7E7E7;
    --font-primary: "Montserrat";
}

/* RESET */
* { padding: 0px; margin: 0px; box-sizing: border-box; }
html, body { font-family: var(--font-primary), sans-serif !important; overflow-x: hidden !important; }
::-webkit-scrollbar {width: 6px}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);-webkit-border-radius: 10px;border-radius: 10px}
::-webkit-scrollbar-thumb {-webkit-border-radius: 10px;border-radius: 10px;background: #999;-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5)}
::-webkit-scrollbar-thumb:window-inactive {background: #999;}
.form-select:focus { border-color: none; outline: none; box-shadow: none; border: none; }

/* STYLE SHEETS */ 
a { text-decoration: none !important; }
p { color: var(--secondary-400); font-size: 16px; font-weight: 500; line-height: 20px; letter-spacing: 0.2px;  }
h1 { color: var(--preto) !important; font-size: 40px !important; font-weight: bold !important; line-height: 120% !important; letter-spacing: 0.2px; }
h2 { color: var(--secondary-500) !important; font-size: 22px !important; font-weight: bold !important; line-height: 32px !important; letter-spacing: 0.1px; }
hr { border: 5px solid var(--primary-500) !important; opacity: 1 !important; width: 100px;  }
span { color: var(--secondary-500); font-size: 18px; }
input, textarea { border: none; width: 100%; background: none; padding-left: 18px; }
input:focus-visible, textarea:focus-visible { outline: none; }
button { border: none; }
.spacing { padding: 100px 0px; }
.btn-solid { color: var(--branco); background-color: var(--primary-500); font-size: 14px !important; font-weight: 600; text-decoration: none; padding: 10px 20px; border-radius: 8px; cursor: pointer; }
.btn-line { background-color: transparent; color: var(--primary-500); font-size: 14px !important; border: 1px solid var(--primary-500); padding: 10px 20px; border-radius: 8px; transition: all ease-in-out .3s; cursor: pointer; }
.btn-line span { color: var(--primary-500); transition: all ease-in-out .3s; }
.btn-line:hover span { color: var(--branco); }
.btn-line:hover { color: var(--branco); background-color: var(--primary-500); border-color: var(--branco); font-weight: 600; }

/* NAV */
#menu .navbar { background-color: var(--preto); z-index: 999; width: 100%; transition: all ease-in-out .4s; }
#menu .logo { width: 192px; height: 142px; object-fit: cover; object-position: bottom !important; transition: all ease-in-out .4s;  }
#menu .min-logo { display: none; }
#menu .navbar-toggler { background-color: none; border: none; color: var(--branco); }
#menu .navbar-toggler svg { width: 75px; height: 75px; transition: all .4s ease-in-out; }
#menu .navbar-toggler:hover svg { opacity: 0.8 !important; transition:  all ease-in-out .4s; } 
#menu .navbar-toggler:focus { outline: 0; box-shadow: none; }
.nav-link { color: var(--branco) !important; text-decoration: none !important; font-size: 20px !important; font-weight: bold !important; line-height: 30px; letter-spacing: 0.2px; padding: 0px 0px !important; transition:  all ease-in-out .2s; border-bottom: 5px solid transparent; }
#menu .nav-item { padding: 0px 20px; }
#menu .active, .nav-link:hover { border-bottom: 5px solid var(--primary-500); }
.dropdown-menu { background-color: #1d1b1c; margin-left: 18px; }
.dropdown-item { width: fit-content; font-size: 18px !important; }  
.dropdown-item:focus, .dropdown-item:hover { color: var(--branco); background-color: #1d1b1c; }


/* NAV COMPRESSED */
.compressed .navbar { background-color: var(--secondary-rgba) !important; backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); }
.compressed .nav-link { font-size: 16px !important; }
.compressed .logo { width: 192px; height: 72px !important; object-fit: cover; object-position: bottom !important; }
.compressed .min-logo { display: none !important; transition:  all ease-in-out .4s; }

/* OFFCANVAS */
#menuMobile { background-color: var(--secondary-rgba) !important; backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); }
#menuMobile .nav-item { padding-top: 30px; padding-left: 20px; font-size: 22px; font-weight: 700; }
#menuMobile .nav-item .nav-link { display: inline; padding: 0 !important; }
#menuMobile .nav-item .nav-link.active { border-bottom: solid 2px var(--primary-500);  }
#menuMobile .btn-close { filter: invert(1); position: absolute; top: 0; right: 0; margin-right: 25px; margin-top: 25px; font-size: 25px; }
#menuMobile .icons-mobile { position: absolute; width: -webkit-fill-available; bottom: 0; }  


/* SLIDE */
#slide { position: relative; }
#slide .bg-red { background-color: var(--primary-500); }
#slide .bg-red img { mix-blend-mode: multiply !important; width: 100%; height: 100vh; object-fit: cover; }
#slide h1 { color: var(--branco) !important; font-size: 64px !important; font-weight: 900 !important; line-height: 95% !important; }
#slide p { color: var(--branco); font-size: 20px; font-weight: bold; line-height: 150%; opacity: 0.8; margin: 20px 0px; }
#slide .btn-solid { background-color: var(--secondary-500); }
#slide .carousel-caption  { right: inherit !important; bottom: inherit !important; left: 50% !important; padding-top: 0; padding-bottom: 0; transform: translate(-50%, -50%); top: calc(50% + 75px) }  
#slide .carousel-control-next, #slide .carousel-control-prev { margin-top: 110px !important; }

/* SINGLE SLIDE */
#single-slide { background: url('../img/bg.png') var(--secondary-rgba); background-size: cover !important; background-position: center; background-repeat: no-repeat !important; padding: 250px 0px 100px 0px; background-blend-mode: multiply; }
#single-slide h1 { color: var(--branco) !important; font-size: 40px; font-weight: 900 !important; line-height: 95% !important; text-align: center; } 

/* SECTION MVV */
#mvv .line-bottom { border: 1.5px solid var(--primary-500) !important; width: 100%; }
#mvv .mvv-border { border: 1px solid var(--secondary-400); border-radius: 50px; padding: 15px; text-align: center; }
#mvv .mvv-border p { min-height: 120px; }

/* SECTION CURSOS */
#cursos { background-color: var(--cinza); }
#cursos span { font-size: 12px; }
#cursos h2 { color: var(--primary-500) !important; font-size: 35px !important; font-weight: bold !important; line-height: 150% !important;  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); }
#cursos p { color: var(--secondary-500) !important; font-size: 16px !important; font-weight: bold !important; line-height: 150% !important; }
#cursos .cards-cursos { background-color: var(--branco); width: 100%px; border-radius: 8px; overflow: hidden; box-shadow: 0px 0px 5px rgb(0 0 0 / 25%);  }
#cursos .cards-cursos img { width: 100%; height: 200px; object-fit: cover; }
#cursos .content-cards-cursos { padding: 30px 20px; }


/* SECTION SOBRE */
#sobre .img-sobre { filter: drop-shadow(5px -5px 5px #696969); }

/* SECTION EQUIPE GESTORA */
#gestora .card-equipe img { width: 100%; height: 180px; object-fit: cover; object-position: center; } 
#gestora .card-equipe .footer-card-equipe { background-color: var(--secondary-500); padding: 20px 16px;  }
#gestora .card-equipe .footer-card-equipe h2 { color: var(--branco) !important; font-size: 18px; font-weight: 600; }
#gestora .card-equipe .footer-card-equipe p { color: var(--branco); font-size: 16px; font-weight: 600; opacity: 80%; }
#gestora .content-hide { position: absolute; top: 0; left: 0; width: 100%; height: 204px; padding: 25px; background-color: var(--secondary-rgba); transition: ease-in-out .3s all; opacity: 0%;}
#gestora .card-equipe:hover .content-hide {  opacity: 100%; }
#gestora .content-hide p {color: var(--branco); }
#gestora .content-hide img { width: 32px; height: 32px; }

/* SECTION FOTOS */
#fotos { background-color: var(--secondary-500); }
#fotos h1 { color: var(--branco) !important; font-size: 24px !important; font-weight: bold !important; line-height: 150% !important; }
#fotos h2 { color: var(--primary-500) !important; font-size: 40px !important; font-weight: bold !important; line-height: 120% !important; }
#fotos .card-pictures { position: relative; display: block; }
#fotos .card-pictures img { width: 100%; height: 204px; object-fit: cover; }
#fotos .card-pictures p { color: var(--branco); background-color: var(--primary-rgba); text-align: center; font-weight: bold; position: absolute; bottom: 0; width: 100%; margin: 0; padding: 6px 0px; }

/* FOOTER */
footer { background-color: var(--preto); }
footer .icons { margin-bottom: 100px !important; }
footer .icons a { padding: 10px !important; }
footer h2 { color: var(--branco) !important; font-size: 16px !important; font-weight: 500 !important; line-height: 125% !important; padding: 10px !important; }
footer .line-vertical { background-color: var(--primary-500); height: 90px; width: 1px; margin: 0px 35px; }
footer h3 { color: var(--branco); font-size: 16px; line-height: 125%; }
footer p { color: var(--branco); font-size: 14px; font-weight: 300; margin-top: 15px !important; }
footer .text-content { min-width: 160px; }

#assinatura p { font-size: 14px; }

/* PAGE CONTATO */
#contato h2 { font-size: 36px !important; }
#contato span { max-width: 350px; }
#contato .links-contato a { display: flex; align-items: center; padding: 20px 0px; color: var(--preto); }
#contato .links-contato a span { margin-left: 20px; }
#contato .contato-iframe { width: 100%; height: 410px; }

/* PAGE FALE CEDUP */
#fale-cedup p { color: var(--preto); font-weight: 400;  }
#fale-cedup { background-color: var(--cinza); }
#fale-cedup .input-contato { display: flex; align-items: center; border-bottom: 1px solid var(--secondary-400); padding: 0px 14px 18px 14px; margin-bottom: 32px;  }
.font-mvv { font-size: 32px !important; }

/* PAGE DOC */
#estagio .table-doc td { padding: 16px 20px; }
#estagio .table-doc tr:nth-child(even) { background-color: var(--cinza); }

/* CURSOS MODAL */
.modal { background-color: rgba(0, 0, 0, 0.5); }
.modal-content { padding: 20px; border: 1px solid #888; max-width: 1240px;  position: absolute; top: 50%;  left: 50%; transform: translate(-50%, -50%); }
.modal h2 { text-align: center; padding-top: 10px; }
.modal h3 { font-weight: 800;  }
#info-modal p { font-weight: 800 !important; font-size: 20px !important;  }
#info-modal span { font-weight: 500; font-size: 18px;  }


.py-20 { padding-block: 20px; }


.close-button { color: #aaa; float: right; font-size: 28px !important; font-weight: bold; }
.close-button:hover, .close-button:focus { color: black; text-decoration: none; cursor: pointer; }


/* MEDIA QUERY */
@media only screen and (max-device-width: 1400px), screen and (max-width: 1400px) {
    #slide h1 { font-size: 36px !important; }
}

@media only screen and (max-device-width: 993px), screen and (max-width: 993px) {
    .container { padding: 0px 30px !important; }

    /* MENU */
    #menu img { width: 70%; }
    #menu .navbar-toggler svg { width: 60px; }

    /* SLIDE */
    #slide h1 { font-size: 60px !important; }
    #slide .carousel-caption { width: 90%; }
    #slide .carousel-control-prev span, #slide .carousel-control-next span { visibility: hidden !important; width: 50% !important; } 
    #slide .carousel-control-prev, #slide .carousel-control-next { width: 50% !important; } 

    /* SOBRE */
    #sobre .img-sobre { width: 80%; margin-left: auto; margin-right: auto; }
    #sobre h1 { font-size: 36px !important; }

    /* CONTATO */
    #contato .contato-iframe { height: 250px; }
}

@media only screen and (max-device-width: 768px), screen and (max-width: 768px) {
    #slide h1 { font-size: 40px !important; }
}

@media only screen and (max-device-width: 630px), screen and (max-width: 630px) {
    #slide h1 { font-size: 32px !important; }
}

@media only screen and (max-device-width: 400px), screen and (max-width: 400px) {
    #menu img { width: 100%; }
    #menu .navbar-brand { width: 140px; }
}